# Ignore everything but...
*

# VS Code settings
!.vscode
!.vscode/*

# Docker settings files except xdebug log
!docker/
!docker/*

# Logs
!docker/logs/
!docker/logs/*

# Main folder settings files
!.env.example
!.gitignore
!docker-compose.yml
!README.md
